html,
/* Style the header */
.header {
  background-color: #ee82ee;
  padding: 20px;
  text-align: center;
}

h1 {
   text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
   color: white;
}

body {
  background-color: #6a5acd;
 color: #3d9d84;
}

p {
 background-color: #ffcec7;
 color: #6a5acd;
 text-align: right;
 border: 3px groove #FFFF33;
}
/*shadow box*/
.box:after {
   content: '';
   position: absolute;
 
   z-index: -1; /* hide shadow behind image */
 
   /* The Shadow */
   -webkit-box-shadow: 1px 1px 3px green, -1px -1px blue;
   -moz-box-shadow: 1px 1px 3px green,-1px -1px blue;
   box-shadow: 1px 1px 3px green, -1px -1px blue;          
 
   width: 70%; 
   left: 15%; /* one half of the remaining 30% (see width above) */
 
   height: 100px;
   bottom:  0;
}




</body>
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
