html,
.header {
  background-color: #ee82ee;
  padding: 20px;
  text-align: center;
}
ul a {
   -webkit-transition: padding .4s; 
   -moz-transition: padding .4s;
   -o-transition: padding .4s;
   transition: padding .4s;
}
 
a:hover { 
   padding-left: 6px;  
}
body {
  background-color: #ffcec7;
  color: #3d9d84;
  text-align: left;
}

h1 {
   text-align: center;
   text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
   color: white;
}

p {
 font-family: Georgia, "Times New Roman",
          Times, serif;
 background-color: #ffcec7;
 color: #6a5acd;
  text-align: left;
}


h2 {
   text-align: center;
   -webkit-text-stroke: 3px black;
   color: lightblue;
}




}
